/*******************************************************/
/************************* HEADER *********************/
/********************************************************/
#header .logo{
	float:left !important;
	position: relative;
}
#header .logo img{
	width:60%;
}
#menu{
	float:right;
}

/**********************************************************/
/************************* FIN HEADER *********************/
/**********************************************************/

/*******************************************************/
/************************* FOOTER *********************/
/********************************************************/
#footer{
	position:fixed !important; 
	bottom:0 !important;
}

/*******************************************************/
/************************* FOOTER *********************/
/********************************************************/