/*******************************************************/
/************************* HEADER *********************/
/********************************************************/
#header .logo{
	float:left !important;
	position: relative;
}
#header .logo img{
	width:60%;
}
#menu{
	position:fixed;
	right:10px;
}
.container{
	position:fixed !important;
	top:3px !important;
}
/**********************************************************/
/************************* FIN HEADER *********************/
/**********************************************************/

/*******************************************************/
/************************* FOOTER *********************/
/********************************************************/
#footer{
	position:fixed !important; 
	bottom:0 !important;
}

/*******************************************************/
/************************* FOOTER *********************/
/********************************************************/

/*********** PAGE ADMIN***********/
/****index*****/
.wrapper{
	margin-top:13% !important; 
	margin-left:50% !important;
}