/*******************************************************/
/************************* HEADER *********************/
/********************************************************/
#header{
	z-index: 999;
	position: absolute;
	top:1%;
	height: 152px;
}
.logo{
	position: absolute;
	top:1%;
	left:1%; 	
}
#header .logo{
	
}
#header .logo img{
	width:60%;
}
#menu{
	position:fixed;
	right:10px;
}
/**********************************************************/
/************************* FIN HEADER *********************/
/**********************************************************/

/*******************************************************/
/************************* FOOTER *********************/
/********************************************************/
#footer{
	position:fixed !important; 
	bottom:0 !important;
}

/*******************************************************/
/************************* FOOTER *********************/
/********************************************************/

/*********** PAGE ADMIN***********/
/****index*****/
.wrapper{
	margin-top:13% !important; 
	margin-left:10% !important;
}


#basket{
	margin: auto;
	width: 90%;
	position: relative;
	border:1px solid;
	justify-content: center;
}
#basket td{
	margin: auto;
	width: 100%;
	position: relative;
	border:1px solid;
	justify-content: center;
}